@model IEnumerable<WebShop.Models.Category>

@{
}

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-dark" href="/Category/Add">Add more</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Categories</h3>

            <table  class="table table-stripped table-bordered ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                    <tr>
                        <td>@item.Name</td>
                        <td>
                                <a class="btn btn-success" href="/Category/Update?id=@item.CategoryID">Edit</a> |
                                <a class="btn btn-danger" onclick="return window.confirm('Are you sure?')" href="/Category/Delete?id=@item.CategoryID">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>