@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";

}
<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <legend>Create new account</legend>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-group">
            <label asp-for="Input.FirstName">First name</label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="First name"/>                
        </div>       
        <br />
        <div class="form-group">
            <label asp-for="Input.LastName">Last name</label>
            <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="Last name"/>
        </div>
        <div class="form-group">
            <label asp-for="Input.Email" class="form-label mt-4">Email address</label>
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password" class="form-label mt-4">Password</label>
            <input asp-for="Input.Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="new-password" aria-required="true">
            <span asp-validation-for="Input.Password" class="invalid-feedback">The Password field is required.</span>
        </div>
    <br />
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
    <br />
    <button id="registerSubmit" type="submit" class="btn btn-dark">Register</button>
        
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
